*, *::after, *::before {
    box-sizing: border-box;
}



:root {
  --font: "EB Garamond", serif;
  --font-title: "Playfair Display", serif;
  --font-sans-serif: "Manrope", sans-serif;
  --black: #1c1f33;
  --black--acc: #222;
  --gray: #eee;
  --gray-1: #ededed;
}

* {
  box-sizing: border-box;
}

@mixin double-border {
  border: 2px solid transparent;
  outline: 3px solid var(--black);
  box-shadow: inset 0 0 0 1px var(--black);
}

body {
  font-size: 1.3rem;
  background: var(--preview-bg);
  font-family: var(--font);
  color: var(--black);
  background: url(https://img.freepik.com/free-photo/cardboard-sheet-paper-abstract-texture-background_7182-2105.jpg?size=626&ext=jpg)
    repeat;
  padding: 4rem 2rem;
  line-height: 1.3;
  text-align: justify;
  column-break-inside: avoid;
}

.logo {
    height: 9em;
    width: 9em;
    border: none;
}

.main__logo {
    display: flex;
    align-items: center;
    justify-content: center; 
}

a {
  text-decoration: none;
  display: block;
  color: var(--black);
  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: var(--black--acc);
  }
}

.main__wrapper {
  max-width: 1135px;
  margin: auto;
}

h1 {
  font: 50px/1 "Playfair Display SC";
  text-align: left;
  @media (min-width: 700px) {
    font: 70px/1 "Playfair Display SC";
  }
}

h3 {
  font: italic 20px var(--font-title);
  margin-bottom: 1rem;
}

h4 {
  font: 20px/1.2 var(--font-title);
}

h5 {
  font: 700 20px/1 var(--font);
  transition: 0.3s ease;
}

p {
  line-height: 1.3;
  a {
    display: inline;
  }
}

em {
  font-style: italic;
}

.title--large {
  font-family: var(--font-title);
  font-size: 32px;
  font-style: italic;
  text-align: left;
  margin-bottom: 0.8rem;
  @media (min-width: 700px) {
    font-size: 42px;
    margin: 0;
  }
}

button {
  transition-duration: 0.4s;
  background-color: #e3c9a6;
  color: black;
  border: 2px solid #555555;
}

button:hover {
  background-color: #555555; /* Green */
  color: white;
}

main {
  @media (min-width: 700px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 23%;
    grid-template-rows: repeat(5, auto);
    grid-gap: 1.2rem;
  }

  h1,
  aside {
    grid-column: 1 / -1;
  }
  .main-title {
    @media (min-width: 700px) {
      grid-column: 1 / -1;
    }
    @media (min-width: 1024px) {
      grid-column: 1 / -2;
    }
  }
  .terrarium {
    @media (min-width: 700px) {
      grid-column: 1 / -1;
    }
    @media (min-width: 1024px) {
      grid-column: 3 / span 2;
    }
  }
  .main-text {
    @media (min-width: 700px) {
      grid-column: span 5;
    }
    @media (min-width: 1024px) {
      grid-column: span 2;
    }
  }
  .sidebar {
    @media (min-width: 700px) {
      grid-column: 1 / -1;
    }
    @media (min-width: 1024px) {
      grid-row: 3 / 9;
      grid-column: 5 / 6;
    }
  }
  .social {
    grid-column: 1 / -2;
    grid-row: 8 / 9;
  }
  .article-bar-1 {
    grid-row: span 4;
  }
  .hogwarts {
    @media (min-width: 700px) {
      grid-row: span 3;
    }
    @media (min-width: 1024px) {
      grid-column: 3;
      grid-row: span 2;
    }
  }
  .menu {
    @media (min-width: 700px) {
      grid-column: 1 / -1;
      grid-row: 13;
    }
    @media (min-width: 1024px) {
      grid-row: 7 / 8;
      grid-column: 2 / 4;
    }
  }
  .toggles {
    @media (min-width: 700px) and (max-width: 1024px) {
      grid-column: 3 / 6;
      grid-row: 10 / 13;
    }
  }
  .plan {
    @media (min-width: 700px) and (max-width: 1024px) {
      grid-column: span 4;
    }
  }
  .style,
  .magazine,
  .pasta {
    @media (min-width: 700px) and (max-width: 1024px) {
      grid-column: 1 / 3;
    }
  }
  .cssgrid-collection {
    grid-column: 1 / -1;
    grid-row: 9;
  }
}

.span--2 {
  grid-column: span 2;
}

.long--2 {
  grid-row: span 2;
}

.long--4 {
  grid-row: span 4;
}

.with-border {
  border-top: 1px solid;
  padding-top: 0.6rem;
}

img {
  width: 100%;
  filter: grayscale(95%);
  margin-bottom: 0.5rem;
  border: 1px solid var(--black);
  transition: 0.3s ease;
}

figcaption {
  font-style: italic;
  font-size: 90%;
}

aside {
  text-align: center;
  padding: 3px 0;
  border: solid var(--black);
  border-width: 2px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 1.5rem 0;
  @media (min-width: 700px) {
    margin: 0;
  }
  > div {
    display: flex;
    align-items: center;
    border: solid var(--black);
    border-width: 1px 0;
    > div {
      flex: 1;
      padding: 8px;
    }
  }
}

@media (min-width: 700px) {
  .mult-column {
    column-count: 2;
    column-gap: 1.3rem;
    margin-top: 0.75rem;
    &-3 {
      column-count: 3;
    }
  }
}

